<button onclick="traer()">Listar las ordenes</button>
<p id="parrafo"></p>
<div class="container">
	<ul id="resultado"></ul>
</div>

<div>
	<input type="text" id="orden" name="orden"></input>
	<input type="text" id="status" name="status"></input>

	
	<button onclick="enviar()">Actualizar</button>
</div>



