<button onclick="traer()">Datos</button>
<p id="parrafo"></p>


<table>
	<tr>
		<th><p id="refer"></p></th>
		<th><p id="branch"></p></th>
		<th><p id="code"></p></th>
		<th><p id="status"></p></th>
		<th><p id="client"></p></th>
	</tr>
</table>

